﻿.pwd-trigger {
    width: 27px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 28px;
    left: 240px;
    opacity: 0.5;
}
.pwd-trigger:hover {
    opacity: 0.8;
}
.show-pwd {
    background: url("/Scripts/plugins/showPassword/show_password.png") no-repeat;
    background-size: contain;
}
.hide-pwd {
    background: url("/Scripts/plugins/showPassword/hide_password.png") no-repeat;
    background-size: contain;
}
