﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-container {
    max-width:470px;
    padding:7px;
    margin:0 auto;
}

.required-field-label:after {
    content: " *";
    color: red;
}

.chosen-container {
    width: 100% !important;
    max-width: 280px;
}

.pass-wrapper {
    max-width: 280px;
}

.form-container .form-group {
    position: relative;
}
.form-container .input-validation-error {
    border-color: red;
}
.form-container .field-validation-error, .form-container label.error {
    position: absolute;
    width: 150px;
    top: 30px;
    left: 290px;
    font-size: 15px;
    color: red;
}
