﻿@model TestProject.Models.ProducerModel

<div class="row">
    <div class="form-container">
        <h2 class="text-center">Форма регистрации</h2>
        <form method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    О компании
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AreaId)
                        @Html.DropDownListFor(x => x.AreaId, ViewBag.AreaSelect as IEnumerable<SelectListItem>)
                        @Html.ValidationMessageFor(model => model.AreaId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CityId)
                        @Html.DropDownListFor(x => x.CityId, new List<SelectListItem> { new SelectListItem { } }, new { disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.CityId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.WorkScopeIds)
                        @Html.ListBoxFor(x => x.WorkScopeIds, ViewBag.WorkScopeSelect as IEnumerable<SelectListItem>)
                        @Html.ValidationMessageFor(model => model.WorkScopeIds)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.SiteURL)
                        @Html.TextBoxFor(x => x.SiteURL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SiteURL)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.SpecifiedStoreDomain)
                        @Html.LabelFor(x => x.SpecifiedStoreDomain)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.StoreURL)
                        @Html.TextBoxFor(x => x.StoreURL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StoreURL)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Регистрационные данные
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.EMail)
                        @Html.TextBoxFor(x => x.EMail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EMail)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Login)
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
            </div>            
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>    
</div>